{%- extends "base.html.jinja" -%}

{%- set traffic_data = cc.traffic_ws.data.last.data -%}
{%- set connections_data = cc.connections_ws.data.last.data -%}

{%- block content -%}

<h1>概览</h1>
<div class="card-grid">
  <div class="card">
    <div class="title">上传</div>
    <div class="content">{{ traffic_data.up | convert_unit(suffix="/s") }}</div>
  </div>
  <div class="card">
    <div class="title">下载</div>
    <div class="content">{{ traffic_data.down | convert_unit(suffix="/s") }}</div>
  </div>
  <div class="card">
    <div class="title">上传总量</div>
    <div class="content">{{ connections_data.upload_total | convert_unit }}</div>
  </div>
  <div class="card">
    <div class="title">下载总量</div>
    <div class="content">{{ connections_data.download_total | convert_unit }}</div>
  </div>
  <div class="card">
    <div class="title">活动连接</div>
    <div class="content">{{ connections_data.connections | length }}</div>
  </div>
  <div class="card">
    <div class="title">内存使用情况</div>
    <div class="content">
      {%- if cc.is_meta %}{{ connections_data.memory | convert_unit }}{% else %}需要 Clash Meta{% endif -%}
    </div>
  </div>
</div>
<div class="card chart">
  <img src="{{ traffic_chart }}" />
</div>
{% if memory_chart -%}
<div class="card chart">
  <img src="{{ memory_chart }}" />
</div>
{%- endif %}

{%- endblock -%}
